
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
